/.idea/*
/.idea/workspace.xml
!/.idea/jsLinters/
!/.idea/dictionaries/
!/.idea/other.xml
!/.idea/testrunner.xml
!/.idea/encodings.xml
!/.idea/vcs.xml

venv
__pycache__

Common/conf/logs/*.log
Common/conf/env/
Packages

#Common/conf/environment/hostname.txt
#Common/conf/circusd/vhosts/web.ini.template
#Common/conf/logs/*.log
#Common/conf/run/
#Common/conf/nginx/logs/*.log
#Common/conf/nginx/nginx.pid
#Common/conf/circusd/circus.ini
#Common/conf/nginx/nginx.conf
#Common/conf/circusd/circus.suse
